
.popuptemplate-btn-control-add {
    display: flex;
    justify-content: center;
}
.title{
    font-size: x-large;
}
.popupcontainer-add{
    height: 400px;
}
.select{
    display: flex;
    flex-direction: column;
    width: 100%
}
.textfeild-name-center{
    width: 100%
}
.textfeild-description-center{
    width: 100%
}
.dialog{
    min-width: 600px;
    min-height: 330px;
}
.input{
    margin: 10px;
}
.select{
    width: 100%;
}